.dashboardContainer {
    width: 100%;
    min-height: 100vh;
    background: #f5f5f5;
}

.navbar {
    width: 100%;
    background: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #ccc;
}

.navLeft img {
    height: 42px;
}

.navRight {
    display: flex;
    gap: 18px;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.active {
    color: #b30000;
}

.usuarioLogueado {
    font-weight: bold;
}

.btnLogout {
    background: #b30000;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
